.footer {
  background-color: #fff; /* bg-gray-900 */
  color: #111827;
  
  /* MORE VERTICAL PADDING */
  padding-top: 0rem;    
  padding-bottom: 0%; 
  width: 98.8%;
  font-size: 1.5rem; 
}

.container {
  max-width: 1400px; 
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0rem;
  padding-right: 0rem;
  
  /* This is for mobile (stacked) */
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 3rem; 
  text-align: center;
}


@media (min-width: 800px) {
  .container {
    
    display: flex;
    flex-direction: row;
    
    
    justify-content: space-around; 
    
    align-items: flex-start; /* Aligns them to the top */
    text-align: left; /* Keep text left-aligned within each column */
    
    
    padding-left: 0rem;
    padding-right: 0rem;
    
    
  }
}

.heading {
  font-size: 3rem; 
  font-weight: 600; 
  margin-bottom: 1rem; 
}

.text {
  color: #111827; 
  margin-bottom: 1rem; 
  font-size: 2rem; 
}

.socialIcons {
  display: flex;
  gap: 2rem; 
  justify-content: center; 
  font-size: 3rem; 
}


@media (min-width: 640px) {
  .socialIcons {
    justify-content: flex-start;
  }
}

.iconLink {
  color: rgb(0, 0, 0); 
  transition: color 0.2s ease-in-out; 
}

.socialIcons .iconLink:nth-child(1):hover {
  color: #3b82f6; 
}
.socialIcons .iconLink:nth-child(2):hover {
  color: #ec4899; 
}
.socialIcons .iconLink:nth-child(3):hover {
  color: #38bdf8; 
}

.list {
  color: #000000; 
  list-style: none;
  padding: 0;
  margin: 1rem 0 0 0;
  
  /* MORE VERTICAL SPACING for list items */
  line-height: 1;
}

.list li {
  margin-bottom: 2rem; 
}

.list li a {
  color: #111827; 
  text-decoration: none; 
  transition: color 0.2s ease-in-out;
}

.list li a:hover {
  color: #db2777; 
  text-decoration: underline; 
}

.bottomBar {
  background-image: linear-gradient(to right, #db2777, #7e22ce);
  margin-top: .5rem; 

  padding-top:1.5rem;   
  padding-bottom: 1.5rem; 
  text-align: center;
  font-size: 3.5rem;  
  font-weight: 600; 
  color: white;
}